if SHIELD_PILOT_LEFT

config ZMK_KEYBOARD_NAME
    default "Pilot"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PILOT_LEFT || SHIELD_PILOT_RIGHT

config ZMK_SPLIT
    default y

endif